:root{
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;

    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 html {
    font-size: 62.5%; /* 1rem = 10px */
    
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(img/books.jpg) no-repeat center fixed;
    
    background-size: cover;
}


#header {
    text-align: center;
    margin: 20rem auto;
    margin-bottom: 4rem;
    font-size: 10rem;
    
    font-weight: 400;
    color: var(--color-grey-light-1);
    text-shadow: 1rem .5rem rgba(24, 24, 24, .8);
    
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_bar {
    margin-bottom: 4rem;
    padding: 20px;
    width: 500px;
    
    color: var(--color-grey-light-4);
    background-color: #181818;
    box-shadow: 0rem 2rem 4rem rgba(2, 2, 2, .8);
    outline: none;
    border-radius: 30px;
    border: 1px solid #181818;
    position: relative;
    font-size: 20px;
}

#search_bar::placeholder {
    color: var(--color-grey-light-4);
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.8rem;
    margin: 0;
    /* position: absolute; */
    /* left: 25%;
    top: 20%; */
    text-align: center;
    /* transform: translate(-50, -50); */
}
#search_bar:active,
#search_bar:focus
{
    background-color: #181818;
}

#search_button {
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0rem 1rem 4rem rgba(0,0,0,.8);
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 20px;
    transition: all .2s;
}

#search_button:hover {
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-light-3);
    box-shadow: 0rem .8rem 3.3rem rgba(0,0,0,.6);
    transform: translateY(-0.3rem);
}

#search_button:active,
#search_button:focus {
    box-shadow: 0rem 1rem 4rem rgba(0,0,0,.8);
    background-color: var(--color-grey-light-3);
    color: black;
    outline: none;
    transform: translateY(-1px);


}

#loading_screen {
    text-align: center;
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    color: var(--color-grey-light-1);
    font-size: 100px;
    margin: 25rem auto;
    text-shadow: 1rem .5rem rgba(0, 0, 0, .8);
    animation: loading 8s infinite;
    animation-delay: 3s;
}

@keyframes loading {
    25% {
        color: var(--color-grey-dark-1);
        text-shadow: 1rem .5rem rgba(0, 0, 0, .8);
    }

    50% {
        color: var(--color-grey-light-1);
        text-shadow: 1rem .5rem rgba(0, 0, 0, .8);
    }

    75% {
        color: var(--color-grey-dark-1);
        text-shadow: 1rem .5rem rgba(0, 0, 0, .8);
    }

    100% {
        color: var(--color-grey-light-1);
        text-shadow: 1rem .5rem rgba(0, 0, 0, .8);
    }
}

h1 {
    margin-left: .8rem;
    padding-left: .8rem; 
    margin-top: .8rem;
    font-size: 40px;
    color: var(--color-grey-dark-1);
    text-shadow: .1rem 0rem rgba(255, 255, 255, 0.8);
}

/* ul {
    
    
} */

li {
margin-left: 5rem;
font-size: 30px;
/* list-style: ; */
padding: .8rem;
color: var(--color-grey-dark-1);
text-shadow: .1rem 0rem rgba(254, 255, 255, .8); 

/* padding-left: .8rem;  */
}

h3 {
    font-size: 2.5rem;
}

span {
    font-size: 1.5rem;
    display: block;
}

.bookCards {
    display: grid;
    margin: .8rem .8rem;
    padding: 2rem 2rem;
    background-color: var(--color-grey-light-1);
    color: var(--color-grey-dark-1);
    border: none;
}

.bookCards:hover {
    border: 1px solid lightblue;
    box-shadow: .1rem .1rem .5rem rgba(24, 24, 24, .8);
}


