:root{
    --color-primary-light: #f6e71d;
    --color-primary-dark: #f5d10d;

    --color-secondary-light: #181818;
    --color-secondary-dark: #020202;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

 html {
    font-size: 62.5%; /* 1rem = 10px */'
    
}

body {
    font-family: Arial;
    bac
}


#header {
    text-align: center;
    margin: 20rem auto;
    margin-bottom: .8rem;
    font-size: 6rem;
    
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search_bar {
    margin-bottom: .8rem;
}

p {
    display: block;
    font-size: 100px;
}  

h1 {
    margin-left: .8rem;
    padding-left: .8rem; 
}

li {
    margin-left: 2rem;
    /* padding-left: .8rem;  */
}
